/*Base structure*/

html,
body {
  height: 100%;
}
body {
  color: black;
  text-align: center;
}


body {
  background-color:white;
  padding-top: 50px;
}
body {
  margin-bottom: 60px;
}

h1 {
  font-size: 50px;
}
/*Classes and ID's*/

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

h2 {
  font-size: 38px;
}





/*COLORS AND STUFF BELOW*/

.backgroundColorOne {
  background-color: #63D471;
}

.backgroundColorTwo {
  background-color: #5A9367;
}

.backgroundColorThree {
  background-color: #467B2D;
}

.headerBackground {
  background-color: white;
}

.largerfont {
	font-size: 30px;
}
.colorDavysGrey {
	color: #595457 ;
}
.colorBabyPowder {
	color: #FDFFFC;
}
.colorCharelstonGreen {
	color: #2E282A;
}
.colorVividYellow {
	color: #FFE311;
}
.colorSapGreen {
	color: #467B2D;
}
.colorPastelGreen {
	color: #63D471;
}
.colorCalPolyPomonaGreen {
	color: #1C4512;
}
.colorGrayAsparagus {
	color: #44633F;
}
.colorRussianGreen {
	color: #5A9367;
}
.bgcPastelGreen {
	background-color: #63D471;
}
.bgcRussianGreen {
	background-color: #5A9367;
}
.lead {
	color: #595457;
}
.verdanaItalicFont {
	font-family: verdana italic, times italic;
}
.georgiaItalicFont {
	font-family: georgia italic, verdana italic, times italic;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: relative;
  top: 200px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}